<div class="col">
  <div class="row ml-1 p-0">
    <div class="col-md-8">
      <h1>Liste des fournisseurs</h1>
    </div>
    <div class="col-md-4 text-right mt-3 mb-2">
      <div>
        <app-composants-bouton-action
        (clickEvent)="nouvelFournisseur()"></app-composants-bouton-action>
      </div>
    </div>
  </div>
  <div class="card row ml-2 mr-2 mb-1 col-md-12">
    <app-details-fournisseur></app-details-fournisseur>
    <app-details-fournisseur></app-details-fournisseur>
    <app-details-fournisseur></app-details-fournisseur>
    <app-details-fournisseur></app-details-fournisseur>
    <app-details-fournisseur></app-details-fournisseur>
  </div>
  <div class="row mb-1">
    <div class="col-md-12 pagination justify-content-center">
      <app-composants-pagination></app-composants-pagination>
    </div>

  </div>
</div>


