<div class="row mb-1 custom-border pr-2">
  <div class="col-md-2 m-0">
    <div class="border-right">
      <img src="favicon.ico" width="90px">
    </div>
  </div>
  <!-- article details -->
  <div class="col-md-4 ">
    <div class="border-right">
      <div class="row">
        <div class="mr-2"><i class="fa-sharp fa-solid fa-circle-info blue-color"></i></div>
        <div>code article:</div>
      </div>
      <div class="row">
        <div class="mr-2"><i class="fa-sharp fa-solid fa-circle-info blue-color"></i></div>
        <div>Désignation:</div>
      </div>
      <div class="row">
        <div class="mr-2"><i class="fa-sharp fa-solid fa-dollar-sign blue-color"></i></div>
        <div>Prix Ht:</div>
      </div>
      <div class="row">
        <div class="mr-2"><i class="fa-sharp fa-solid fa-circle-info blue-color"></i></div>
        <div>code article:</div>
      </div>


    </div>
  </div>
  <!--category details-->
  <div class="col-md-3">
    <div class="border-right">
      <div class="row">
        <div class="col-md-2">
          <i class="fa-sharp fa-solid fa-flag blue-color"></i>
        </div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-12">
              code categorie
            </div>
            <div class="col-md-12">description categorie</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--bouton d'action-->
  <div class="col-md-3">
    <div>
      <div class="row">
        <div class="col-md-4" >
          <button type="button" class="btn btn-link">
            <i class="fa-solid fa-wrench"></i>&nbsp;Modifier
          </button>
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-link">
            <i class="fa-sharp fa-solid fa-trash"></i>&nbsp;Supprimer
          </button>
        </div>
        <div class="col-md-4">
          <button type="button" class="btn btn-link">
            <i class="fa-sharp fa-solid fa-circle-info"></i>Information
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
