<div class="row mb-1 custom-border pr-2">
  <!-- article details -->
  <div class="col-md-3 ">
    <div class="border-right">
      <div class="row">

        <div class="col-md-12 text-center">
          <h5>26/09/2022</h5>
        </div>
      </div>
    </div>
  </div>
  <!--category details-->
  <div class="col-md-3">
    <div class="border-right">
      <div class="row">
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-12 text-center">
              <h5>139</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Sortie ou entre de stock-->
  <div class="col-md-3">
    <div class="border-right">
      <div class="row">
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-12 text-center">
              <h5>Sortie</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--bouton d'action-->
  <div class="col-md-3">
    <div>
      <div class="row ">
        <div class="col-md-12 text-center">
          COMMANDE_CLIENT
        </div>
      </div>
    </div>
  </div>
</div>

