<div class="col">
  <div class="row ml-1 p-0">
    <div class="col-md-8">
      <h1>Liste des articles</h1>
    </div>
    <div class="col-md-4 text-right">
      les boutons
    </div>
  </div>
  <div class="card row ml-3 mr-3 ">
    <app-composant-article></app-composant-article>
    <app-composant-article></app-composant-article>
    <app-composant-article></app-composant-article>
    <app-composant-article></app-composant-article>
    <app-composant-article></app-composant-article>
  </div>
  <div class="card row ml-3 text-center">
    pagination
  </div>
</div>
