<div class="row d-flex">

  <div class="col-md-4 flex-fill">
    <button type="button" class="btn btn-warning">
      <i class="fa-sharp fa-solid fa-cloud-arrow-down"></i>&nbsp;
      Importer
    </button>
  </div>
  <div class="col-md-4 flex-fill">
    <button type="button" class="btn btn-success">
      <i class="fa-sharp fa-solid fa-cloud-arrow-up"></i>&nbsp;
      Exporter
    </button>
  </div>
  <div class="col-md-4 flex-fill">
    <button type="button" class="btn btn-primary" (click)="boutonNouveauClick()">
      <i class="fa-sharp fa-solid fa-plus"></i>&nbsp;
      Nouveau
    </button>
  </div>
</div>
